
.vui-input 
    input,
    textarea 
        display: block;
        width: 100%;
        outline: none;
        padding: 8px 10px;
        line-height: 16px;
        border: 1px solid #ccc;
    &.focus 
        textarea,
        input 
            border-color: $color-theme;
        .line 
            display: block;
    .line 
        position: absolute;
        height: 100%;
        top: 0;
        border-left: 1px solid $color-theme;
        display: none;
        z-index: 1;
    
    &.has-pend 
        width: 100%;
        display: table;
        border-spacing: 0;
        border-collapse: collapse;
        > * 
            vertical-align: middle;
            display: table-cell;
    
    &.has-prepend 
        input 
            border-left: 0;
    
    &.has-append 
        input 
            border-right: 0;
    
    .vui-input-group-prepend .line 
        right: 0;
    

    .vui-input-group-append .line 
        left: 0;
    
    .vui-input-group-prepend,
    .vui-input-group-append 
        width: 1%;
        position: relative;
        white-space: nowrap;
    
