
.container
    margin-right auto
    margin-left auto
    padding-left 15px
    padding-right 15px
    @extend .clearfix

.row
    @extend .clearfix


col-percent(index) // 保留8位小数
    round(percentage(index / $grid-columns), 8)

cols = ''
for i in 0..$grid-columns
    cols += '.col-' + i + ',.col-xs-'+i+','    // 拼接所有的列名，为了公用下面的样式
    $percent = col-percent(i)
    if i!=0
        .col-{i}    // 超小屏幕
            float left
            width $percent
    .col-offset-{i}    // 栅格左侧的间隔
        margin-left $percent
    .col-push-{i}    // 栅格向左移动
        left $percent
    .col-pull-{i}    // 栅格向右移动
        right $percent

for k, v in $screen    // 遍历各种屏幕
    @media (min-width v['min-width'])
        .container
            width v['container-width']
        for i in 0..$grid-columns
            $percent = col-percent(i)
            if i!=0
                .col-{k}-{i}
                    float left
                    width $percent
            .col-offset-{k}-{i}
                margin-left $percent
            .col-push-{k}-{i}
                left $percent
            .col-pull-{k}-{i}
                right $percent
    for i in 1..$grid-columns
        cols += '.col-' + k + '-' + i + ','    // 拼接所有的列名，为了公用下面的样式

{cols}    // 所有的列公用的样式
    position relative
    min-height 1px
