.v-upload
    .btn
        position relative
    input[type="file"]
        opacity 0
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        cursor pointer
.v-upload-file
    width 100px
    height 100px
    background-size cover
    background-repeat no-repeat
    background-position center center
    border 1px solid $color-border
