@import "../../src/css/vars.styl"

@import "../../src/css/style.styl"

@import "./mdeditor.css"

@import "../../node_modules/highlight.js/styles/github.css"


body
    background: #f1f1f1

.doc-container
    background: #fff
.vui-doc .v-topbar
    height 60px
    background #fff
    margin-bottom 20px

.menu-wrap
    height 100%
    position: relative
    overflow auto
    padding-bottom 20px
    .component-group
        padding 20px 0 10px 10px
        border-bottom 1px solid #eee
    .component-item
        display block
        padding-left 40px
        line-height 34px
        text-decoration none
        color #333
        &:hover
            background #eee
        &.active
            color: #fff
            background $color-theme

.doc-box
    padding: 20px
    .doc-title
        @extend h3
        margin-top: 0
        border-bottom: 1px solid #e6e6e6
        padding-bottom: 5px
        color $color-title
    .doc-subtitle
        @extend h4
        color #666
        margin-top: 30px

.doc-table
    width 100%
    border-spacing 0
    border-collapse collapse
    table-layout: fixed
    td
    th
        padding 10px
    th
        font-weight normal
        text-align left
        background lighten($color-theme-light, 90%)
    td
        word-wrap break-word
        border-bottom 1px solid lighten($color-theme-light, 80%)

.doc-inlinecode
    @extend code
    display: inline-block
    padding: 3px 5px
    margin: 1px
    border-radius: 2px
    color: #c7254e
    font-size: 13px
    background-color: #f9f2f4

.doc-basic-color
    .color-block
        height 80px
        line-height @height
        color rgba(#fff, .18)
        padding-left: 20px;
        font-size 40px
        font-weight bold
    .color-theme-light
        background $color-theme-light
    .color-theme-dark
        background $color-theme-dark
    .color-theme
        background $color-theme
    .color-success
        background $color-success
    .color-warning
        background $color-warning
    .color-danger
        background $color-danger

.doc-basic-font
    .font-box
        line-height 4em
        text-align center
        border 1px solid #ddd

.doc-basic-grid
    .row
        margin-bottom: 15px
    .content
        font-size: 12px
        text-align: center
        line-height: 38px
        background: #eee
        border: 1px solid #ddd

.doc-basic-icon
    .ico-item
        padding 10px 0
        text-align center
    .icon
        width 32px
        height 32px
        transition 0.3s
        fill currentColor
        &:hover
            transform scale(2)
    .ico-name
        color $color-assist
        font-size 12px

// form
.doc-form-input
    .output
        line-height: 34px

.doc-data-pagination
    .vui-pagination
        margin-top 20px
    .table
        width 100%
        table-layout fixed
        border-spacing 0
        th
        td
            text-align center
            padding 10px 20px
            border-bottom 1px solid $color-gray-light
        tr
            background #f8f8f8
        tr:nth-child(even)
            background #f4f4f4