.v-table
    width 100%
    border-collapse collapse
    border-spacing 0
    border-top 1px solid $color-border
    border-bottom @border-top
    thead
        th
            text-align left
            padding 15px 20px
            font-weight normal
            background #F8F8F8
            border-bottom @border-top
    td
        padding 12px 20px
        border-bottom 1px solid $color-border